@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme static {
	--font-sans: 'Public Sans', sans-serif;
	--ui-bg: var(--ui-color-neutral-100);
}

.dark {
	--ui-bg: var(--color-gray-700);
}
